<h1>Edit Profile</h1>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-group">
    <%= f.label :interests %><br>
    <%= f.collection_check_boxes(:interest_ids, @interests, :id, :name) do |b| %>
      <%= b.label(class: "custom-control custom-checkbox") do %>
        <%= b.check_box(class: "custom-control-input") %>
        <span class="custom-control-label"><%= b.object.name %></span>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn-dark" %>
  </div>
<% end %>