<nav class = "navbar">
  <p>
    <strong><%= link_to "Friend Finder", root_path %></strong>
    <% if !logged_in? %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Login", login_path %>
    <% else %>
      <%= link_to "Users", users_path %>
      <%= link_to "Interests", interests_path %>
      <%= link_to "Messages", received_path %>
      <%= link_to "Profile", user_path(current_user) %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% end %>
  </p>
</nav>